<h1>Metro Review Site</h1>

<% if @stations %>
  <ul>
    <% @stations.each do |station| %>
      <li><%= station.name %> Station</li>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Add Station', new_station_path %>
<% end %>
